<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Среднее количество игр</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}">
</head>
<body>
<a href="/main"><< Назад</a>
<h1>Среднее количество игр</h1>
<div th:if="${isSingle}">
  <h3>Обратка в однопоточном режиме</h3>
</div>
<div th:unless="${isSingle}">
  <h3>Обратка в многопоточном режиме</h3>
</div>

<table style="width: 100%">
<thead>
<tr>
  <th>Название стран</th>
  <th>Кол-во подержавших</th>
</tr>
</thead>
<tbody>
<tr th:each="el : ${data}">
  <td th:text="${el.country}"></td>
  <td th:text="${el.countGames}"></td>
</tr>
</tbody>
</table>

<p th:text="'Среднее число: ' + ${average}" />
<p th:text="'Время исполнения: ' + ${timeExecute} + ' ms'" />
</body>
</html>