<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}">

</head>
<body>
<div class="login">
    <div class="form">
        <h2>Регистрация</h2>
        <p th:if="${param.error}">
            Неверные имя пользователя или пароль.
        </p>
        <p th:if="${param.logout}">
            Вы вышли из системы.
        </p>
        <form th:action="@{/registration}" method="post">
            <input type="text" name="username" placeholder="Username">
            <input type="password"  name="password"placeholder="Password">
            <input type="submit" value="Зарегистрироваться" class="submit">
            <a href="/login" class="registr">Войти</a>
        </form>
    </div>
</div>
</body>
</html>